#########################################################
# Configuration parameters for the docker project       #
# Change the variables below to your need:              #
#########################################################
APP_GITHUB_USERNAME=${GITHUB_USERNAME:-"{{ github_username }}"}              # The GitHub username of the project
APP_USER_FULLNAME=${USER_FULLNAME:-"{{ author }}"}                           # The full name of the user
APP_USER_EMAIL=${USER_EMAIL:-"{{ email }}"}                                  # The email address of the user
APP_SOURCE_REPO=${APP_SOURCE_REPO:-"{{ app_source_repo }}"}                  # The GitHub repository name of the project
APP_SOURCE_BRANCH=${APP_SOURCE_BRANCH:-"{{ app_source_branch }}"}            # The branch of the project to clone
APP_INSTALL_ROOT=${APP_INSTALL_ROOT:-"{{ app_install_root }}"}               # The directory in the container where the project will be installed or cloned
APP_CLONE_DIRNAME=${APP_CLONE_DIRNAME:-"{{ app_clone_dirname }}"}            # The directory name for the cloned project
{% if enable_nvidia_gpu -%}
APP_CUDA_DEVICE_ID=${APP_CUDA_DEVICE_ID:-"{{ cuda_device_id }}"}             # The ID of the CUDA device to use, e.g. all, 0, 1, 2, etc.
{%- endif %}
{% if use_ssh_service -%}
APP_HOST_SSH_PORT=${APP_HOST_SSH_PORT:-"{{ ssh_host_port }}"}                # The SSH port on the host machine to be mapped to the container's SSH port
{%- endif %}
{% if use_jupyter -%}
APP_HOST_JUPYTER_PORT=${APP_HOST_JUPYTER_PORT:-"{{ jupyter_host_port }}"}    # The Jupyter port on the host machine to be mapped to the container's Jupyter port
APP_JUPYTER_TOKEN=${APP_JUPYTER_TOKEN:-"{{ jupyter_token }}"}                # The Jupyter token to use
{%- endif %}
{% if use_web_service -%}
APP_SERVICE_NAME=${APP_SERVICE_NAME:-"{{ app_service_name }}"}               # The server name (optional, can be left empty)
APP_HOST_WEB_SVC_PORT=${APP_HOST_WEB_SVC_PORT-"{{ web_service_host_port }}"} # The Web service port on the host machine to be mapped to the container's Web service port
{%- endif %}
GIT_COMMIT_GPGSIGN=${GIT_COMMIT_GPGSIGN:-"false"}                            # Whether to GPG-sign Git commits

#######################################################################################
# Please do not make any changes below this line if you don't know what you are doing #
# change the variables above to your need                                             #
#######################################################################################
# docker build: Configuration parameters for building the Docker image
IMAGE_VARIANT=${APP_VARIANT:-"{{ docker_app_image_variant_name }}"}           # The variant of the Docker image.
IMAGE_TAG="${CONTAINER_IMAGE_VERSION}-${IMAGE_VARIANT}"                       # The tag of the Docker image
IMAGE_NAME="${CONTAINTER_REGISTRY}/${DOCKER_USERNAME}/${DOCKER_PROJECT_NAME}" # The full name of the Docker image
BASE_VARIANT=${BASE_VARIANT:-"{{ docker_base_image_variant_name }}"}          # The variant of the Docker image.
BUILD_FROM="${CONTAINTER_REGISTRY}/${IMAGE_NAME}:latest-${BASE_VARIANT}"      # The base image for the Docker build

# docker run: Configuration parameters for running the Docker container
LAUNCH_SCRIPT="${CONTAINER_WORKSPACE_ROOT}/scripts/{{ launch_scripts }}" # The name of the launch script
{% if enable_nvidia_gpu -%}
CUDA_DEVICE_ID=${APP_CUDA_DEVICE_ID} # The ID of the CUDA device to use.
{%- endif %}
{% if use_ssh_service -%}
SSH_PORT=${SSH_PORT:-"{{ ssh_port }}"} # The SSH port in the Docker container
HOST_SSH_PORT=${APP_HOST_SSH_PORT}     # The SSH port on the host machine to be mapped to the container's SSH port.
{%- endif %}
{% if use_web_service -%}
WEB_SVC_PORT=${WEB_SVC_PORT:-"{{ web_service_port }}"} # The Web service port in the Docker container
HOST_WEB_SVC_PORT=${APP_HOST_WEB_SVC_PORT}             # The Web service port on the host machine to be mapped to the container's Web service port.
{%- endif %}
{% if use_jupyter -%}
JUPYTER_PORT=${JUPYTER_PORT:-"{{ jupyter_port }}"} # The Jupyter port in the Docker container
HOST_JUPYTER_PORT=${APP_HOST_JUPYTER_PORT}         # The Jupyter port on the host machine to be mapped to the container's Jupyter port. If not set, port 18585 will be used.
JUPYTER_TOKEN=${APP_JUPYTER_TOKEN}                 # The Jupyter token to use. If not set, a random token will be generated.
{%- endif %}
