#######################################################################################
# Host machine environment variables                                                  #
#######################################################################################
SYSTEM_HOSTNAME=${SYSTEM_HOSTNAME:-"$(hostname)"}               # The hostname of the System. If not set, the system's hostname will be used.
WORKSPACE_ROOT=${WORKSPACE_ROOT:-"/home/${USERNAME}/workspace"} # The workspace directory on the host machine
#######################################################################################
# Please do not make any changes below this line if you don't know what you are doing #
# change the variables above to your need                                             #
#######################################################################################
# docker build: Configuration parameters for building the Docker image
CONTAINTER_REGISTRY="{{ docker_registry }}"    # The Docker registry to push the image to.
DOCKER_NAME="{{ docker_project_name }}"        # The base name of the Docker image.
VARIANT="{{ docker_base_image_variant_name }}" # The variant of the Docker image.
USERNAME="{{ docker_container_username }}"     # The username in the Docker container.
DOCKER_USERNAME="{{ docker_username }}"        # The username for Docker.
USER_UID="{{ docker_container_uid }}"          # The user ID in the Docker container.
USER_GID="{{ docker_container_uid }}"          # The group ID in the Docker container.

IMAGE_TAG="${VERSION}"                                    # The tag of the Docker image
IMAGE_NAME="${DOCKER_USERNAME}/${DOCKER_NAME}-${VARIANT}" # The full name of the Docker image
BUILD_FROM="{{ docker_base_build_from }}"                 # The base image for the Docker build

CONTAINER_WORKSPACE_ROOT="{{ container_workspace_root }}" # The workspace directory in the Docker container
CONTAINER_HOSTNAME="${DOCKER_NAME}-${SYSTEM_HOSTNAME}"    # The hostname of the Docker container

# docker run: Configuration parameters for running the Docker container
DOCKER_NETWORK_NAME="${DOCKER_NAME}-network" # The name of the Docker network
