#########################################################
# Configuration parameters for the docker project       #
# Change the variables below to your need:              #
#########################################################
APP_GITHUB_USERNAME=${GITHUB_USERNAME:-"`{{ github_username }}`"}   # The GitHub username of the project
APP_USER_FULLNAME=${USER_FULLNAME:-"`{{ author }}`"}                # The full name of the user
APP_USER_EMAIL=${USER_EMAIL:-"`{{ email }}`"}                       # The email address of the user

APP_SOURCE_REPO=${`{{ docker_name_prefix }}`_SOURCE_REPO:-"`{{ app_source_repo }}`"}       # The GitHub repository name of the project
APP_SOURCE_BRANCH=${`{{ docker_name_prefix }}`_SOURCE_BRANCH:-"`{{ app_source_branch }}`"} # The branch of the project to clone

#######################################################################################
# Please do not make any changes below this line if you don't know what you are doing #
# change the variables above to your need                                             #
#######################################################################################
# docker build: Configuration parameters for building the Docker image
IMAGE_VARIANT=${APP_VARIANT:-"`{{ docker_app_image_variant_name }}`"}          # The variant of the Docker image.
IMAGE_TAG="${IMAGE_VERSION}-${IMAGE_VARIANT}"                                  # The tag of the Docker image
IMAGE_NAME="${CONTAINER_REGISTRY}/${DOCKER_USERNAME}/${DOCKER_PROJECT_NAME}"   # The full name of the Docker image
BASE_VARIANT=${BASE_VARIANT:-"`{{ docker_base_image_variant_name }}`"}         # The variant of the Docker image.
BUILD_FROM="${CONTAINER_REGISTRY}/${IMAGE_NAME}:latest-${BASE_VARIANT}"        # The base image for the Docker build

# docker run: Configuration parameters for running the Docker container
CONTAINER_LAUNCH_SCRIPT="${CONTAINER_WORKSPACE_ROOT}/scripts/`{{ launch_scripts }}`"            # The name of the launch script
{% if enable_nvidia_gpu -%}
CONTAINER_CUDA_DEVICE_ID=${`{{ docker_name_prefix }}`_CUDA_DEVICE_ID:-"`{{ cuda_device_id }}`"} # The ID of the CUDA device to use, e.g. all, 0, 1, 2, etc.
{%- endif %}
{% if use_ssh_service -%}
CONTAINER_SSH_PORT=${SSH_PORT:-"`{{ ssh_port }}`"}                                  # The SSH port in the Docker container
HOST_SSH_PORT=${`{{ docker_name_prefix }}`_HOST_SSH_PORT:-"`{{ ssh_host_port }}`"}  # The SSH port on the host machine to be mapped to the container's SSH port
{%- endif %}
{% if use_jupyter -%}
CONTAINER_JUPYTER_PORT=${JUPYTER_PORT:-"`{{ jupyter_port }}`"} # The Jupyter port in the Docker container
HOST_JUPYTER_PORT=${`{{ docker_name_prefix }}`_HOST_JUPYTER_PORT:-"`{{ jupyter_host_port }}`"}  # The Jupyter port on the host machine to be mapped to the container's Jupyter port
CONTAINER_JUPYTER_TOKEN=${`{{ docker_name_prefix }}`_JUPYTER_TOKEN:-"`{{ jupyter_token }}`"}    # The Jupyter token to use
{%- endif %}
{% if use_web_service -%}
APP_SERVICE_NAME=${`{{ docker_name_prefix }}`_SERVICE_NAME:-"`{{ app_service_name }}`"}             # The server name (optional, can be left empty)
CONTAINER_WEB_SVC_PORT=${WEB_SVC_PORT:-"`{{ web_service_port }}`"}                                  # The Web service port in the Docker container
HOST_WEB_SVC_PORT=${`{{ docker_name_prefix }}`_HOST_WEB_SVC_PORT-"`{{ web_service_host_port }}`"}   # The Web service port on the host machine to be mapped to the container's Web service port
{%- endif %}
