#!/usr/bin/env bash
PROJECT_ROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
export PROJECT_ROOT
PATH="${PROJECT_ROOT}/.docker/.docker-scripts:${PATH}"
DOCKER_PROJECT_NAME=${DOCKER_PROJECT_NAME:-""}
DOCKER_PROJECT_ID=${DOCKER_PROJECT_ID:-"default"}
COMMAND=${COMMAND:-"build"}
VARIANT=${IMAGE_VARIANT:-"base"}
RUN_COMMAND=${RUN_COMMAND:-"bash"}
export DOCKER_PROJECT_NAME
export PROJECT_ID
export COMMAND
export VARIANT
export RUN_COMMAND
